[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DegreeDayCalc"]
	path = DegreeDayCalc
	url = https://github.com/almarazkrae-4081/degreedaycalc
[submodule "LifeTableFertility"]
	path = LifeTableFertility
	url = https://github.com/almarazkrae-4081/lifetablefertility
